:root{--background: hsl(0, 38%, 95%);
--foreground: hsl(238, 76%, 69%);
--card: hsl(0, 10%, 45%);
--card-foreground: hsl(240, 10%, 3.9%);
--popover: hsl(0, 0%, 100%);
--popover-foreground: hsl(240, 10%, 3.9%);
--primary: hsl(233, 72%, 69%);
--primary-foreground: hsl(0, 60%, 98%);
--secondary: hsl(240, 4.8%, 95.9%);
--secondary-foreground: hsl(240, 5.9%, 10%);
--muted: hsl(240, 4.8%, 95.9%);
--muted-foreground: hsl(240, 3.8%, 46.1%);
--accent: hsl(120, 46%, 89%);
--accent-foreground: hsl(240, 5.9%, 10%);
--destructive: hsl(0, 84.2%, 60.2%);
--destructive-foreground: hsl(0, 5%, 51%);
--border: hsl(240, 5.9%, 90%);
--input: hsl(240, 5.9%, 90%);
--ring: hsl(240, 10%, 3.9%);
--radius: 0.5rem;}
