@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea {
  @apply bg-transparent;
}

a {
  @apply cursor-pointer;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --purple: 270 50% 60%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  :root {
  --background-color: #0C1821;
  --heading-color: #f5f3f4;
  --text-color: #ffffff;
  --link-color: #f9c784;
  --link-text-decoration-color: #324A5F;
  --code-background-color: #cdd7d6;
  --code-color: #222;
  --h4-background-color: #1A759F;
  --h4-text-color: #ffffff;
  --h5-background-color: #0C1821;
  --h5-border-color: #C3B597;
  --h5-text-color: #ffffff;
  --h5-background-hover-color: #f9c784;
  --h5-hover-text-color: #0C1821;
  --strong-bold-color: #ccc9dc;  
  --blockquote-background-color: #1b2a41;
  --highlight-color: #F9E076;
  --highlight-link: #363457
  --upvote-count-color: #ffffff;
  --nav-textcolor-hover: #003049
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5 {
  color: var(--heading-color);
}

.top-navbar {
  top: calc(46px + 48px);
}

.img-holder {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .img-holder {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

@media (max-width: 767px) {
  .img-holder {
    max-width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

.tiptap .node-nextImage.ProseMirror-selectednode {
  outline: 3px solid var(--highlight-color);
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--strong-bold-color);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    color: var(--text-color);
    overscroll-behavior: none;
  }
}

/* Scoped to the editor */

.tiptap h1 {
  @apply text-4xl font-bold leading-tight mb-6;
}

.tiptap h2 {
  @apply text-3xl font-semibold leading-snug mb-5;
}

.tiptap h3 {
  @apply text-2xl font-medium leading-normal mb-4;
}

.tiptap p {
  @apply text-lg leading-relaxed mb-1;
}

.tiptap .next-image {
  @apply w-full mb-4;
}

/* Add top margin to headings when they follow any other element */
.tiptap * + h1,
.tiptap * + h2,
.tiptap * + h3 {
  @apply mt-8;
}

.tiptap ul,
.tiptap ol {
  @apply mb-4 pl-6;
}

.tiptap ul {
  @apply list-disc;
}

.tiptap ol {
  @apply list-decimal;
}

.tiptap li {
  @apply mb-2;
}

.tiptap a {
  color: var(--link-color);
  text-decoration-color: var(--link-text-decoration-color);
  @apply hover:underline;
}

.tiptap blockquote {
  @apply pl-4 border-l-4 border-gray-300 italic my-6;
  background-color: var(--blockquote-background-color);
}

.tiptap pre {
  @apply p-4 my-6;
  background-color: var(--code-background-color);
}

.tiptap hr {
  @apply my-6;
}

/* Youtube embed */
.tiptap div[data-youtube-video] {
  cursor: move;
  padding-right: 1.5rem;
  @apply mb-6;
}

/* .tiptap div[data-youtube-video] iframe {
  border: 0.5rem solid var(--black-contrast);
  display: block;
  min-height: 200px;
  min-width: 200px;
  outline: 0px solid transparent;
  } */
  
.tiptap div[data-youtube-video].ProseMirror-selectednode iframe {
  @apply rounded-xl;
  outline: 3px solid gold;
  @apply rounded-xl;
  transition: outline 0.15s;
}